<section id="career">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Career</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <ul class="timeline">
                  <li>
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/career1.png" alt="" style="width: 150px;height: 150px;">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>2010-2013</h4>
                              <h4 class="subheading">물류 시스템 개발</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">상선 물류 / 택배 물류 시스템 개발 담당</p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/career2.png" alt="" style="width: 150px;height: 150px;">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>2013</h4>
                              <h4 class="subheading">사내 시스템 개발 팀</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">사내 구매 시스템, 평가 시스템 유지/고도화</p>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image">
                          <h4>Growth!
                              <br>Passion!
                              <br>Innovation!!</h4>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
