<section id="career">
  <div class="container">
    <div class="text-center">
      <h2>Career</h2>
      <hr class="star-primary">
    </div>

    <ul class="timeline">

      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>현재</h4>
            <h4 class="subheading">사내 시스템 개발 팀</h4>
          </div>
          <div class="timeline-body">
            <p>사내 구매 시스템, 평가 시스템 유지/고도화</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>과거</h4>
            <h4 class="subheading">물류 시스템 개발</h4>
          </div>
          <div class="timeline-body">
            <p>상선 물류 / 택배 물류 시스템 개발 담당</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>
